<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Регистрация</title>
</head>
<body>
<th:block th:include="/navbar"></th:block>
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Регистрация</h3>

                        <form th:method="POST" th:action="@{/auth/registration}" th:object="${user}">
                            <div class="form-group">
                                <label class="form-label" for="firstName">Введите имя: </label>
                                <input type="text" id="firstName" th:field="*{firstName}"
                                       class="form-control form-control-lg"/>
                                <div style="color:red" th:if="${#fields.hasErrors('firstName')}"
                                     th:errors="*{firstName}">
                                    First name Error
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="lastName">Введите фамилию: </label>
                                <input type="text" id="lastName" th:field="*{lastName}"
                                       class="form-control form-control-lg"/>
                                <div style="color:red" th:if="${#fields.hasErrors('lastName')}"
                                     th:errors="*{lastName}">Last
                                    name Error
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="username">Введите логин: </label>
                                <input type="text" th:field="*{username}" id="username"
                                       class="form-control form-control-lg"/>
                                <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
                                    Username Error
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email">Введите email: </label>
                                <input type="text" th:field="*{email}" id="email"
                                       class="form-control form-control-lg"/>
                                <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email
                                    name
                                    Error
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phone">Введите номер телефона: </label>
                                <input type="text" th:field="*{phone}" id="phone"
                                       class="form-control form-control-lg"/>
                                <div style="color:red" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Phone
                                    name
                                    Error
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password">Введите пароль: </label>
                                <input type="password" th:field="*{password}" id="password"
                                       class="form-control form-control-lg"/>
                                <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                                    Password Error
                                </div>
                            </div>
                            <label for="role">Выберете роль: </label>
                            <select id="role" class="form-select" name="role" th:field="*{role}"
                                    onchange="showVendorFields()">
                                <option th:each="role : ${T(ru.nastyzl.fooddelivery.enums.UserRole).values()}"
                                        th:if="${role != T(ru.nastyzl.fooddelivery.enums.UserRole).ADMIN}"
                                        th:value="${role.value}"

                                        th:text="${role.ruValue}"></option>
                            </select>
                            <br/>
                            <div id="vendorFields" style="display: none;">
                                <div class="form-group">
                                    <label for="city">Введите город: </label>
                                    <input type="text" th:field="*{city}" id="city"
                                           class="form-control form-control-lg"/>
                                    <div style="color:red" th:if="${#fields.hasErrors('city')}" th:errors="*{city}">
                                        Error
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="streetName">Введите улицу: </label>
                                    <input type="text" th:field="*{city}" id="streetName"
                                           class="form-control form-control-lg"/>
                                    <div style="color:red" th:if="${#fields.hasErrors('streetName')}"
                                         th:errors="*{streetName}">
                                        Error
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="city">Введите номер дома: </label>
                                    <input type="text" th:field="*{streetNumber}" id="streetNumber"
                                           class="form-control form-control-lg"/>
                                    <div style="color:red" th:if="${#fields.hasErrors('streetNumber')}"
                                         th:errors="*{streetNumber}">
                                        Error
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="apartment">Введите номер квартиры: </label>
                                    <input type="text" th:field="*{apartment}" id="apartment"
                                           class="form-control form-control-lg"/>
                                    <div style="color:red" th:if="${#fields.hasErrors('apartment')}"
                                         th:errors="*{apartment}">
                                        Error
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="entrance">Введите подъезд: </label>
                                    <input type="text" th:field="*{entrance}" id="entrance"
                                           class="form-control form-control-lg"/>
                                    <div style="color:red" th:if="${#fields.hasErrors('entrance')}"
                                         th:errors="*{entrance}">
                                        Error
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="floor">Введите этаж: </label>
                                    <input type="text" th:field="*{floor}" id="floor"
                                           class="form-control form-control-lg"/>
                                    <div style="color:red" th:if="${#fields.hasErrors('floor')}" th:errors="*{floor}">
                                        Error
                                    </div>
                                </div>
                                <br>
                            </div>
                            <div style="text-align: center">
                                <input type="submit" class="btn btn-dark" value="Зарегистрироваться"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>
<script>
    function showVendorFields() {
        let role = document.getElementById("role").value;
        if (role === "ROLE_VENDOR") {
            document.getElementById("vendorFields").style.display = "block";
        } else {
            document.getElementById("vendorFields").style.display = "none";
        }
    }
</script>
