<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Регистрация</title>
</head>
<body>
<th:block th:include="/navbar"></th:block>
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>

                        <form th:method="POST" th:action="@{/auth/registration}" th:object="${user}">

                            <div class="row">
                                <div class="col-md-6 mb-4">


                                    <div class="form-outline">
                                        <input type="text" id="firstName" th:field="*{firstName}"
                                               class="form-control form-control-lg"/>
                                        <label class="form-label" for="firstName">Введите имя: </label>
                                        <div style="color:red" th:if="${#fields.hasErrors('firstName')}"
                                             th:errors="*{firstName}">
                                            First name Error
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input type="text" id="lastName" th:field="*{lastName}"
                                               class="form-control form-control-lg"/>
                                        <label class="form-label" for="lastName">Введите фамилию: </label>
                                        <div style="color:red" th:if="${#fields.hasErrors('lastName')}"
                                             th:errors="${lastName}">Last
                                            name Error
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <label for="username">Введите имя пользователя: </label>
                            <input type="text" th:field="*{username}" id="username"/>
                            <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
                                Username Error
                            </div>
                            <br/>


                            <br/>


                            <br/>

                            <label for="email">Введите email: </label>
                            <input type="text" th:field="*{email}" id="email"/>
                            <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email name
                                Error
                            </div>
                            <br/>

                            <label for="phone">Введите номер телефона: </label>
                            <input type="text" th:field="*{phone}" id="phone"/>
                            <div style="color:red" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Phone name
                                Error
                            </div>
                            <br/>

                            <label for="password">Введите пароль: </label>
                            <input type="password" th:field="*{password}" id="password"/>
                            <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                                Password Error
                            </div>
                            <br/>

                            <select id="userRole" name="userRole" th:field="*{role}" onchange="showVendorFields()">
                                <option th:each="role : ${T(ru.nastyzl.fooddelivery.enums.UserRole).values()}"
                                        th:if="${role != T(ru.nastyzl.fooddelivery.enums.UserRole).ADMIN}"
                                        th:value="${role}"
                                        th:text="${role.ruValue}"
                                        th:selected="${role == T(ru.nastyzl.fooddelivery.enums.UserRole).CUSTOMER}"></option>
                            </select>
                            <br/>
                            <div id="vendorFields" style="display: none;">
                                apartment: <input type="text" th:field="*{apartment}" id="apartment" name="apartment">
                                <div style="color:red" th:if="${#fields.hasErrors('apartment')}"
                                     th:errors="*{apartment}">apartment Error
                                </div>

                                city: <input type="text" th:field="*{city}" id="city" name="city">
                                <div style="color:red" th:if="${#fields.hasErrors('city')}" th:errors="*{city}">city
                                    Error
                                </div>

                                entrance: <input type="text" th:field="*{entrance}" id="entrance" name="entrance">
                                <div style="color:red" th:if="${#fields.hasErrors('entrance')}" th:errors="*{entrance}">
                                    entrance Error
                                </div>

                                floor: <input type="text" th:field="*{floor}" id="floor" name="floor">
                                <div style="color:red" th:if="${#fields.hasErrors('floor')}" th:errors="*{floor}">floor
                                    Error
                                </div>

                                streetName: <input type="text" th:field="*{streetName}" id="streetName"
                                                   name="streetName">
                                <div style="color:red" th:if="${#fields.hasErrors('streetName')}"
                                     th:errors="*{streetName}">streetName Error
                                </div>

                                streetNumber: <input type="text" th:field="*{streetNumber}" id="streetNumber"
                                                     name="streetNumber">
                                <div style="color:red" th:if="${#fields.hasErrors('streetNumber')}"
                                     th:errors="*{streetNumber}">streetNumber Error
                                </div>

                            </div>

                            <input type="submit" value="Sign up!"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>
<script>
    function showVendorFields() {
        let role = document.getElementById("userRole").value;
        if (role === "ROLE_VENDOR") {
            document.getElementById("vendorFields").style.display = "block";
        } else {
            document.getElementById("vendorFields").style.display = "none";
        }
    }
</script>
