<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Новое блюдо</title>
</head>
<body>
<th:block th:include="/navbar"></th:block>

<div class="cart-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="display: flex; justify-content: space-between;">
                <div class="table-main table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Название</th>
                            <th>Количество</th>
                            <th>Цена</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="orderdetail: ${order.orderItems}">
                            <td class="name-pr">
                                <p th:text="${orderdetail.dish.dishName}"></p>
                            </td>
                            <td class="name-pr">
                                <p th:text="${orderdetail.quantity}"></p>
                            </td>
                            <td class="name-pr">
                                <p th:text="${orderdetail.dish.currentPrice}"></p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row my-5">
                    <div>
                        <div class="order-box">
                            <h3>Итого</h3>
                            <div class="d-flex">
                                <p><b>Общая стоимость</b> </p>
                                <div class="col-lg-2"></div>
                                <div class="ml-auto font-weight-bold" th:text="${order.totalAmount} + ' ₽'"></div>
                            </div>
                            <div class="d-flex">
                                <p><b>Статус заказа </b></p>
                                <div class="col-lg-2"></div>
                                <div class="ml-auto font-weight-bold" th:text="${order.orderStatus.getValue()}"></div>
                            </div>
                            <div class="d-flex">
                                <p><b>Покупатель</b> </p>
                                <div class="col-lg-2"></div>
                                <div class="ml-auto font-weight-bold"
                                     th:text="' '+${order.customer.firstName} + ' ' + ${order.customer.lastName} "></div>
                            </div>
                            <div class="d-flex">
                                <p><b>Адрес доставки </b></p>
                                <div class="col-lg-2"></div>

                                <div class="ml-auto font-weight-bold" th:text="' '+${order.customerAddress} "></div>
                            </div>
                            <div class="d-flex">
                                <p><b>Повар </b></p>
                                <div class="col-lg-2"></div>

                                <div class="ml-auto font-weight-bold"
                                     th:text="' '+${order.vendor.firstName} + ' ' + ${order.vendor.lastName} "></div>
                            </div>
                            <div class="d-flex">
                                <p><b>Статус </b></p>
                                <div class="col-lg-2"></div>

                                <div class="ml-auto font-weight-bold" th:text="' '+${order.orderStatus.getValue()} "></div>
                            </div>
                            <div class="d-flex">
                                <p><b>Дата заказа </b></p>
                                <div class="col-lg-2"></div>

                                <div class="ml-auto font-weight-bold" th:text="' '+${order.orderDate} "></div>
                            </div>
                            <div class="d-flex" th:if="${order.orderStatus} == 'DONE' ">
                                <p><b>Дата доставки</b></p>
                                <div class="col-lg-2"></div>

                                <div class="ml-auto font-weight-bold" th:text="' '+${order.orderDate} "></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>