<div class="menu-container"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
    <a th:href="@{/menu}">Меню</a>
    |
    <a th:href="@{/productList}">
        Product List
    </a>
    |
    <a th:href="@{/cart/}">
        Корзина
    </a>
    |
    <th:block sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_CUSTOMER')">
        <a th:href="@{/admin/orderList}">
            Order List
        </a>
        |
    </th:block>


    <th:block sec:authorize="hasRole('ROLE_VENDOR')">
        <a th:href="@{/vendor/dishes}">
            Мои блюда
        </a>
        |
    </th:block>
</div>